@mixin transitionAll($delay: 0s) {
	transition: all .3s ease-in-out $delay;
}

@mixin positionCentre() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

@mixin backgroundImageCover() {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

@mixin standardShadow($size: $_shadow-size, $inset: false) {

	@if $inset {

		box-shadow: inset 0 0 $size 0 $_shadow-colour;

	} @else {

		box-shadow: 0 0 $size 0 $_shadow-colour;

	}

}