$_footer-height: 160px;

$_standard-margin: 20px;
$_standard-inner-margin: $_standard-margin / 2;
$_standard-inner-spacing: $_standard-inner-margin / 2;

$_standard-radius: 5px;

$_standard-line-height: 20px;