$_footer-height: 160px;

$_margin: 20px;
$_inner-margin: $_margin / 2;
$_inner-spacing: $_inner-margin / 2;

$_radius: 5px;

$_line-height: 20px;
$_line-height-large: 30px;
$_line-height-extra-large: 40px;


$_shadow-colour: #2F2F2F;
$_shadow-colour-light: #F2F2F2;
$_shadow-size: 5px;

$_font-size-small: 12px;
$_font-size: 16px;
$_font-size-large: 24px;
$_font-size-extra-large: 32px;

$_off-white: #F2F2F2;
$_grey: #5C5E67;
$_dark-grey: #212325;

$_dark-barely-opaque: rgba(0, 0, 0, 0.5);
$_dark-mostly-opaque: rgba(0, 0, 0, 0.7);
$_dark-almost-opaque: rgba(0, 0, 0, 0.9);

$_light-barely-opaque: rgba(242, 242, 242, 0.2);
$_light-semi-opaque: rgba(242, 242, 242, 0.5);
$_light-mostly-opaque: rgba(242, 242, 242, 0.7);
$_light-almost-opaque: rgba(242, 242, 242, 0.9);

$_icon-size-small: 20px;
$_icon-size: 30px;
$_icon-size-large: 40px;
$_icon-size-extra-large: 50px;