$_footer-height: 160px;

$_margin: 20px;
$_inner-margin: $_margin / 2;
$_inner-spacing: $_inner-margin / 2;

$_radius: 5px;

$_line-height: 20px;
$_line-height-large: 30px;

$_shadow-colour: #2F2F2F;
$_shadow-size: 5px;