$draftConsole-height: 140px;

.draftConsole {

	height: $draftConsole-height;
	width: 80%;
	position: fixed;
	bottom: 0;
	left: 10%;
	right: 10%;
	background-color: #5C5E67;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 0 5px 0 #000;
	@include transitionAll();

	ul {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		@include positionCentre();
	}

	li {
		width: 12%;
		margin: 20px 0.25% 0;
		padding: 5px;
		box-sizing: border-box;
		border-radius: 5px;
		justify-content: center;
		position: relative;
	}

	label {
		text-align: center;
		text-transform: capitalize;
		display: inline-block;
		width: 100%;
		line-height: 20px;
		height: 20px;
		padding: 5px 0;
	}

	&__teamLabel {
		top: -30px;
	}

	&__placeholder {

		position: absolute;
		box-sizing: border-box;
		width: 100%;
		z-index: 0;
		height: $draftConsole-height;
		@include transitionAll(.3s);

		li {
			height: calc(100% - 20px);
			position: relative;
			box-shadow: inset 0 0 5px 0 #000;
		}

		label {
			position: absolute;
			bottom: 0;
			left: 0;
		}

	}

	&__selectedHeroes {

		height: $draftConsole-height;
		@include transitionAll(.3s);

		li {
			height: calc(100% - 20px);
			box-shadow: inset 0 0 3px 0 #000;
		}

		.heroAvatar {

			height: 65px;

			img {
				max-height: 100%;
				width: auto;
				height: auto;
			}

		}

	}

	&__finalSelection {

		opacity: 0;
		transform: scale(.7);
		@include transitionAll(.6s);
		height: 280px;
		justify-content: center;

		li {
			height: 100%;
			width: calc(25% - 20px);
			margin: 0 10px;
			box-shadow: inset 0 0 3px 0 #000;
		}

	}

	&--pick {
		background-color: #568A56;
	}

	&--ban {
		background-color: #7D3A3A;
	}

	&--selectionComplete {

		bottom: 50%;
		transform: translateY(50%);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		height: 320px;

		ul:not(.draftConsole__finalSelection) {
			opacity: 0;
			transform: scale(.7);
		}

		.draftConsole__finalSelection {
			opacity: 1;
			transform: scale(1);
		}

	}

}