$draftConsole-height: $_footer-height;
$draftConsole-team-label-height: $_line-height + $_inner-spacing;
$draftConsole-team-label-height-large: $_line-height-large + $_inner-spacing;

.draftConsole {

	height: $draftConsole-height;
	width: 80%;
	position: fixed;
	bottom: 0;
	left: 10%;
	right: 10%;
	background-color: $_grey;
	border-top-left-radius: $_radius;
	border-top-right-radius: $_radius;
	@include standardShadow();
	@include transitionAll(.3s);

	ul {
		padding: $_inner-margin;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		@include positionCentre();
	}

	li {
		width: calc(12.5% - (#{$_inner-spacing} * 2));
		height: calc(100% - #{$draftConsole-team-label-height});
		margin: $draftConsole-team-label-height $_inner-spacing 0;
		padding: $_inner-spacing;
		box-sizing: border-box;
		border-radius: $_radius;
		justify-content: center;
		position: relative;
	}

	label {
		text-align: center;
		text-transform: capitalize;
		display: inline-block;
		width: 100%;
		padding: 0 0 $_inner-spacing;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__teamLabel {
		top: -$draftConsole-team-label-height;
	}

	&__placeholder {

		width: 100%;
		z-index: 0;
		height: 100%;
		transition: opacity .3s ease-in-out .6s, transform .3s ease-in-out .6s;

		li {
			position: relative;
			@include standardShadow($inset: true);
		}

	}

	&__selectedHeroes {

		height: $draftConsole-height;
		@include transitionAll(.6s);

		li {
			@include standardShadow(3px, true);
		}

		.heroAvatar {

			height: calc(100% - #{$draftConsole-team-label-height});

			img {
				max-height: 100%;
				width: auto;
				height: auto;
			}

		}

	}

	&__finalSelection {

		opacity: 0;
		transform: scale(.7);
		@include transitionAll();
		height: 100%;
		justify-content: center;

		li {

			width: calc(25% - 25px);
			height: calc(100% - #{$draftConsole-team-label-height-large});
			margin: $draftConsole-team-label-height-large $_inner-margin 0 0;
			padding: 0;
			overflow: hidden;
			@include standardShadow(3px, true);

			&:nth-of-type(2) {
				margin-right: 80px;
			}

			&:last-child {
				margin-right: 0;
			}

			label {
				padding-top: $_inner-spacing;
				background-color: $_dark-barely-opaque;
			}

		}

		p {
			@include positionCentre();
			line-height: $draftConsole-height * 2;
			text-align: center;
			cursor: default;
			font-size: 30px;
		}

		button {
			position: absolute;
			left: 50%;
			bottom: -($_line-height-large + $_margin);
			transform: translateX(-50%);
		}

		& > label {

			width: 50%;
			top: $_inner-margin;
			left: 0;
			bottom: auto;
			font-size: 30px;
			line-height: $_line-height-large;
			text-transform: uppercase;
			letter-spacing: 5px;

			& + label {
				left: 50%;
			}

		}

		.heroAvatar {

			width: 100%;
			height: 100%;

		}

	}

	&--pick {
		background-color: #568A56;
	}

	&--ban {
		background-color: #7D3A3A;
	}

	&--selectionComplete {

		bottom: 50%;
		transform: translateY(50%);
		border-bottom-left-radius: $_radius;
		border-bottom-right-radius: $_radius;
		height: $draftConsole-height * 2;

		ul:not(.draftConsole__finalSelection) {
			opacity: 0;
			transform: scale(.7);
			transition-delay: 0s;
		}

		.draftConsole__finalSelection {
			opacity: 1;
			transform: scale(1);
			transition-delay: .6s;
		}

	}

}