#drafterApp {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.drafterApp {

	width: 100%;
	height: 100%;
	overflow: auto;

	h1 {
		width: 100%;
		padding: $_inner-margin;
		font-size: $_font-size-extra-large;
		line-height: $_line-height-extra-large;
		cursor: default;
		background-color: $_dark-semi-opaque-background;
	}

	.teamManager {
		@include transitionAll(.6s);
	}

	.heroesGrid:not(.heroesGrid--selectionComplete),
	.draftConsole {
		opacity: 0;
		visibility: hidden;
	}

	.draftConsole {
		@include transitionAll(.3s);
	}

	&--draftingActive {

		.teamManager {
			opacity: 0;
			visibility: hidden;
			transition-delay: 0s;
		}

		.heroesGrid:not(.heroesGrid--selectionComplete),
		.draftConsole {
			opacity: 1;
			visibility: visible;
		}

		.heroesGrid {
			transition-delay: .6s;
		}

	}

}