$draftConsole-height: $_footer-height;
$draftConsole-team-label-height: $_standard-line-height + $_standard-inner-spacing;

.draftConsole {

	height: $draftConsole-height;
	width: 80%;
	position: fixed;
	bottom: 0;
	left: 10%;
	right: 10%;
	background-color: #5C5E67;
	border-top-left-radius: $_standard-radius;
	border-top-right-radius: $_standard-radius;
	@include standardShadow();
	@include transitionAll(.3s);

	ul {
		padding: $_standard-inner-margin;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		@include positionCentre();
	}

	li {
		width: calc(12.5% - (#{$_standard-inner-spacing} * 2));
		height: calc(100% - #{$draftConsole-team-label-height});
		margin: $draftConsole-team-label-height $_standard-inner-spacing 0;
		padding: $_standard-inner-spacing;
		box-sizing: border-box;
		border-radius: $_standard-radius;
		justify-content: center;
		position: relative;
	}

	label {
		text-align: center;
		text-transform: capitalize;
		display: inline-block;
		width: 100%;
		height: $_standard-line-height;
		padding: 0 0 $_standard-inner-spacing;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__teamLabel {
		top: -$draftConsole-team-label-height;
	}

	&__placeholder {

		position: absolute;
		box-sizing: border-box;
		width: 100%;
		z-index: 0;
		height: 100%;
		@include transitionAll();

		li {
			position: relative;
			@include standardShadow($inset: true);
		}

	}

	&__selectedHeroes {

		height: $draftConsole-height;
		@include transitionAll();

		li {
			@include standardShadow(3px, true);
		}

		.heroAvatar {

			height: calc(100% - #{$draftConsole-team-label-height});

			img {
				max-height: 100%;
				width: auto;
				height: auto;
			}

		}

	}

	&__finalSelection {

		opacity: 0;
		transform: scale(.7);
		@include transitionAll(.6s);
		height: 100%;
		justify-content: center;

		li {

			height: 100%;
			width: calc(25% - 25px);
			margin: 0 $_standard-inner-margin 0 0;
			padding: 0;
			overflow: hidden;
			@include standardShadow(3px, true);

			&:nth-of-type(2) {
				margin-right: 80px;
			}

			&:last-child {
				margin-right: 0;
			}

		}

		label {
			padding-top: $_standard-inner-spacing;
			background-color: rgba(0, 0, 0, 0.5);
		}

		p {
			@include positionCentre();
			line-height: $draftConsole-height * 2;
			text-align: center;
			cursor: default;
			font-size: 30px;
		}

		.heroAvatar {

			width: 100%;
			height: 100%;

		}

	}

	&--pick {
		background-color: #568A56;
	}

	&--ban {
		background-color: #7D3A3A;
	}

	&--selectionComplete {

		bottom: 50%;
		transform: translateY(50%);
		border-bottom-left-radius: $_standard-radius;
		border-bottom-right-radius: $_standard-radius;
		height: $draftConsole-height * 2;

		ul:not(.draftConsole__finalSelection) {
			opacity: 0;
			transform: scale(.7);
		}

		.draftConsole__finalSelection {
			opacity: 1;
			transform: scale(1);
		}

	}

}