.heroCell {

	width: 10%;
	padding: $_inner-margin;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: $_radius;
	transition: all 0.2s;
	justify-content: center;

	&:hover {
		background-color: $_light-barely-opaque;
	}

	&.selected {

		opacity: 0.2;
		cursor: default;

		&:hover {
			background-color: transparent;
		}

	}

	label {
		width: 100%;
		padding-top: $_inner-spacing;
		text-align: center;
		display: inline-block;
		cursor: pointer;
	}

}