.heroesGrid {

	margin-bottom: $_footer-height;
	padding: $_margin;
	@include transitionAll();

	ul {
		display: flex;
		flex-wrap: wrap;
	}

	&--selectionComplete {

		margin-bottom: 0;
		opacity: .05;

		.heroCell:hover {

			background-color: transparent;
			cursor: default;

			label {
				cursor: default;
			}

		}

	}

}