.inputSubmit {

	width: 100%;
	white-space: nowrap;
	margin: 0 0 $_inner-spacing 0;

	input {
		width: 100%;
		line-height: $_line-height-extra-large;
		height: $_line-height-extra-large;
	}

	button {
		float: right;
		line-height: $_line-height-extra-large;
		height: $_line-height-extra-large;
		margin: 0 0 0 $_inner-spacing;
	}

	& > div {
		overflow: hidden;
	}

}