.teamSelector {

	width: calc(100% - (#{$_inner-margin} * 2));
	height: calc(100% - (#{$_inner-margin} * 2));
	margin: $_inner-margin;
	padding: $_inner-margin;
	box-sizing: border-box;
	background-color: $_light-barely-opaque;
	border-radius: $_radius;
	position: relative;

	& > {

		& select {
			width: 100%;
			margin: 0 0 $_inner-spacing;
			line-height: $_line-height-extra-large;
			height: $_line-height-extra-large;
		}

		& label {
			width: 100%;
			display: inline-block;
		}

		.inputSubmit {
			margin-bottom: $_margin;
		}

	}

	&__selectedTeam {
		background-color: $_dark-grey;
		border-radius: $_radius;
		padding: $_inner-spacing;
		text-align: center;
	}

}