.teamSelector {

	width: 100%;
	padding: $_inner-margin;
	box-sizing: border-box;

	label {
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	select {
		width: 80%;
		margin: $_inner-spacing 10% 0;
		line-height: $_line-height-extra-large;
		height: $_line-height-extra-large;
	}

}