body {
	margin: 0;
	background-color: $_dark-grey;
	color: $_off-white;
	font-family: 'Droid Sans', sans-serif;
	font-size: $_font-size;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

label {
	line-height: $_line-height;
}

h1,
p {
	margin: 0;
}

button {

	line-height: $_line-height-large;
	border-radius: $_radius;
	border: none;
	padding: 0 $_inner-spacing;
	font-size: $_font-size;
	cursor: pointer;
	color: $_off-white;
	background-color: $_dark-semi-opaque-background;

	&:hover {
		background-color: $_dark-semi-opaque-background-hover;
		@include standardShadow($colour: $_shadow-colour-light);
	}

	&:active {
		color: $_dark-grey;
		background-color: $_light-semi-opaque-background-active;
	}

	&:focus {
		outline: none;
	}

}