body {
	margin: 0;
	background-color: #212325;
	color: #F2F2F2;
	font-family: 'Droid Sans', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

label {
	line-height: $_standard-line-height;
}