body {
	margin: 0;
	background-color: $_dark-grey;
	color: $_off-white;
	font-family: 'Droid Sans', sans-serif;
	font-size: $_font-size;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

label {
	line-height: $_line-height;
	margin: 0 0 $_inner-spacing;
}

h1 {
	margin: 0;
	padding: $_inner-margin;
	font-size: $_font-size-extra-large;
	line-height: $_line-height-extra-large;
	cursor: default;
}

p {
	margin: 0 0 $_inner-spacing;
	line-height: $_line-height;
}

button {

	line-height: $_line-height-large;
	border-radius: $_radius;
	border: none;
	padding: 0 $_inner-spacing;
	font-size: $_font-size;
	cursor: pointer;
	color: $_off-white;
	background-color: $_dark-barely-opaque;

	&:hover {
		background-color: $_dark-mostly-opaque;
		@include standardShadow($colour: $_shadow-colour-light);
	}

	&:active {
		color: $_dark-grey;
		background-color: $_light-almost-opaque;
	}

	&:focus {
		outline: none;
	}

}

select {
	height: $_line-height;
	line-height: $_line-height;
	-webkit-appearance: none;
	padding: 0 ($_inner-spacing * 2 + $_line-height) 0 $_inner-spacing;
	background-image: url('/img/circle-down.svg');
	background-size: $_line-height;
	background-repeat: no-repeat;
	background-position: right $_inner-spacing center;
	cursor: pointer;
	color: $_dark-grey;
	font-size: $_font-size-small;
}

input {
	height: $_line-height;
	line-height: $_line-height;
	padding: 0 $_inner-spacing;
	border: none;
	border-radius: $_radius;
	box-sizing: border-box;
	color: $_dark-grey;
	font-size: $_font-size-small;
}